.Container{
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 0.5fr;
    /* background-color: red; */
}

.Container .LeftSide{
    padding-right: 25px;
    border-right: 1px solid #bbbbbb;
}

.Container .RightSide{
    padding-left: 25px;
}

.PatientFormSection span{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

span .StandardInput{
    width: 35%;
}


span .SmallInput{
    width: 20%;
}

span .WideInput{
    width: 70%;
}

span .FullInput{
    width: 100%;
}