/*-------------------------------------------------------------------*/
                            /*MAIN STYLES*/
/*-------------------------------------------------------------------*/

.GridContainer{
    display: grid;
    height: 100vh;
    grid-template-rows: 0.2fr 0.8fr 4fr;
    grid-template-columns: 1fr 0.2fr;
    grid-template-areas: 
        'TopBar TopBar'
        'Menu RightSidePanel'
        'MainContent RightSidePanel';
}
.GridContainer .GridElement{
    padding-left: 25px;
    padding-right: 25px;
}


/*-------------------------------------------------------------------*/
                            /*TOP BAR*/
/*-------------------------------------------------------------------*/

.GridElement#TopBar{
    background-color: #694177;
    display: flex;
    justify-content: space-between;
    grid-area: TopBar;
}
#TopBar img {
    width: 125px;
}

#TopBar .BackButton {
    color:#fff;
    font-size: 25px;
}


/*-------------------------------------------------------------------*/
                            /*MAIN MENU*/
/*-------------------------------------------------------------------*/

.GridElement#Menu{
    background-color: #FFF5FF;
    grid-area: Menu;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Menu a{
    background-color: #BFBFBF;
    color:#fff;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-decoration: none;
}

#Menu a:hover{
    background-color: #a8a7a7;
    cursor: pointer;
    transition: 300ms;
}

#Menu a.active {
    background-color: #F896F5;
}

#Menu a.active:hover {
    background-color: #F896F5;
    transition: 0;
}

/*-------------------------------------------------------------------*/
                            /*MAIN CONTNET*/
/*-------------------------------------------------------------------*/

.GridElement#MainContent{
    background-color: #FEFEFE;
    margin-bottom: 25px;
    overflow: hidden;
    grid-area: MainContent;
}

/*-------------------------------------------------------------------*/
                            /*RIGHT SIDE PANEL*/
/*-------------------------------------------------------------------*/

.GridContainer #RightSidePanel{
    background-color: #692267;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: RightSidePanel;
    padding-top: 25px;
    padding-bottom: 25px;
}
#RightSidePanel .UserDetails {
    text-align: center;
    color:#fff;
    width: 100%;
    margin-bottom: 25px;
}

#RightSidePanel .UserDetails img {
    width: 50%;
    margin-bottom: 25px;
    border-radius: 50%;
}

#RightSidePanel .Notyfication {
    color:#fff;
    width: 90%;
    min-height: 25%;
    overflow-y: scroll;
    padding: 0;
    list-style: none;
}

#RightSidePanel .Notyfication li {
    width: 95%;
    padding: 20px;
    min-height: 40%;
    margin:auto;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #FFE3F9;
    color: #434343;
}
.Notyfication li h6 {
    color: #692267;
}
.Notyfication li hr {
    color: #CB60C8;
    padding: 0;
    margin: 10px 0 10px 0;
}
.Notyfication li .NotyficationButtons {
    color: #434343;
    text-align: end;
}

#RightSidePanel .ActionButtons {
    width: 90%;
    margin-top: 25px;
}
.ActionButtons button {
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0 10px 0;
    border: 0;
    font-weight: bold;
    color:#fff;
}
.ActionButtons button#ManageButton {
    background-color: #B3B3B3;
}
.ActionButtons button#LogoutButton {
    background-color: #CB60C8;
}





/*-------------------------------------------------------------------*/
                            /*SMALL DEVICES - MEDIA QUERY*/
/*-------------------------------------------------------------------*/



@media only screen and (max-width:1200px){
    .GridContainer{
        display: grid;
        min-height: 110%;
        grid-template-rows: 0.2fr 0.8fr 4fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'TopBar'
            'Menu'
            'MainContent'
            'RightSidePanel';
    }
    .GridContainer .GridElement{
        padding-left: 5px;
        padding-right: 5px;
    }

    .GridElement#Menu{
        background-color: #FFF5FF;
        grid-area: Menu;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        gap:10px;
        text-decoration: none;
    }
    
    #Menu a{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
    }

    .GridElement#MainContent{
        margin-bottom: 10px;
        overflow: visible;
    }

    .GridContainer #RightSidePanel{
        background-color: #692267;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-area: RightSidePanel;
        padding-left: 25px;
        padding-right: 25px;
    }

    #RightSidePanel .UserDetails {
        text-align: center;
        color:#fff;
        width: 40%;
        margin-bottom: 25px;
    }

    #RightSidePanel img {
        width: 100%;
        border-radius: 50%;
    }

    #RightSidePanel .Notyfication {
        display:none;
    }

    #RightSidePanel .ActionButtons {
        width: 40%;
    }

    .ActionButtons button {
        display: block;
        width: 100%;
        height: 50px;
        margin: 10px 0 10px 0;
        border: 0;
        font-weight: bold;
        color:#fff;
    }

    
}