.LeftContainer{
    width: 100%;
}
.LeftContainer .DatePicker {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 0px 20px 0px;
}

.LeftContainer .NoticeSection {
    display: flex;
    padding: 0px 35px 0px 35px;
    flex-direction: column;
}

.LeftContainer .NoticeSection .ButtonSection {
    display: flex;
    justify-content: end;
    width: 100%;
}

.LeftContainer .NoticeSection .ButtonSection button {
    background-color: #CB60C8;
    padding: 5px 20px 5px 20px;
}

.LeftContainer .NoticeSection .ButtonSection button:disabled{
    background-color: #692267;
    cursor: not-allowed;
}

.LeftContainer .NoticeSection .NoticeList {
    list-style: none;
    width:100%;
    height: 200px;
    margin-top: 20px;
    padding: 0px;
    overflow-y: scroll;
}
.LeftContainer .NoticeSection .NoticeList .NoticeElement {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #B3B3B3;
}

.LeftContainer .NoticeSection .NoticeList .NoticeElement .NoticeStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    background-color: #fff;
    width: 30%;
}

.LeftContainer .NoticeSection .NoticeList .NoticeElement#Info,
.LeftContainer .NoticeSection .NoticeList .NoticeElement#Info .NoticeStatus {
    border-left: 5px solid #FFB800;
    color: #FFB800;
}

.LeftContainer .NoticeSection .NoticeList .NoticeElement#Warn,
.LeftContainer .NoticeSection .NoticeList .NoticeElement#Warn .NoticeStatus {
    border-left: 5px solid #D00000;
    color: #D00000;
}

.LeftContainer .NoticeSection .NoticeList .NoticeElement .NoticeContent {
    padding: 15px;
    color: #434343
}

.LeftContainer .NoticeSection .NoticeList .NoticeElement .NoticeContent .ActionButtons {
    display: flex;
    gap: 10px;
    justify-content: end;
}

@media only screen and (max-width:1200px){
    .LeftContainer .NoticeSection {
        display: none;
    }
}