.Container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.8fr 1fr;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.Container .LeftSide {
    background: url("../../../assets/images/auth/Backdrop_x.png") no-repeat;
    background-size: cover;
    border-right: 5px solid #f2c9f0;
}

.Container .RightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../assets//images/auth/Backdrop_2.jpg") no-repeat;
    background-size: cover;
    background-position: right;
}

.Container .RightSide .AuthBox {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 29px -1px rgba(66, 68, 90, 1);
    overflow-y: hidden;
    overflow-x: hidden;
}

/*ErrorNotyfication**/

.ErrorNotyficationBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    color:#fefefe;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0px 15px 15px 0px;
    top: 2%;
    left: 0;
    width: 30%;
    padding: 10px 10px 10px 0px;
    gap:20px;
}
.ErrorNotyficationBox .Error{
    background-color: rgb(208, 0, 0,0.6);
    border-radius: 0px 15px 15px 0px;
    padding: 20px;
}

@media only screen and (max-width: 900px){
    .Container .RightSide .AuthBox {
        width: 85%;
    }
}

@media only screen and (max-width: 1300px){
    .Container {
        grid-template-columns: 1fr;
    }

    .Container .LeftSide {
        display: none;
    }

    .ErrorNotyficationBox {
        width: 100%;
    }
    .ErrorNotyficationBox .Error{
        display: none;
    }
    .ErrorNotyficationBox .Error:first-child{
        display: block;
    }
}
