.Container{
    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    width: 100%;
    height: 100%;
}
.DocumentationHeader{
    display: flex;
    padding: 0 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #473947;
    color:#fff;
}
.DocumentationHeader button{
    padding: 5px;
    background-color: #17AA40;
    color:#fff;
}
.DocumentationList{
   overflow-y: auto;
}
.DocumentationList table{
    width: 100%;
    border-collapse: collapse;
    border: 1px #AAA solid;
}

.DocumentationList table thead,tbody td,th{
    padding-left: 20px;
}

.DocumentationList table thead tr{
    background-color: #b9b9b9;
    border-bottom: 1px #202020 solid;
    height: 50px;
}

.DocumentationList table tbody tr{
    background-color: #FFFAFA;
    border-bottom: 1px #AAA solid;
    height: 50px;
}

.DocumentationList table tbody tr:nth-child(even){
    background-color: #EEEBE9;
}

.DocumentationList table tbody tr#First{
    background-color: #FFCDFD;
    border-bottom: 1px #AAA solid;
    height: 50px;
}
