
.backdrop{
    position: fixed;
    background-color: rgb(105,34,103,0.6);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.model{
    position: fixed;
    width: 70%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'header'
        'content';
    background-color: #FBFBFB;
    border-radius: 20px;
    color: #5C5C5C;
}

.model .header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FFE3F9;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid #F896F5;
    grid-area: header;
    overflow: hidden;
}
.model .header button{
    background-color: #CB60C8;
    padding: 5px 0px 5px 0px;
}
.model .content{
    border-radius: 0px 0px 20px 20px;
    padding:20px;
    grid-area: content;
    overflow-y: auto;
}

.model.small{
    height: 45%;
}
.model.small .content{
    padding: 25px 50px 25px 50px;
}

@media only screen and (max-width:1200px){
    .model{
        width: 90%;
        height: 90%;
    }
    .model.small{
        height: 90%;
    }
    .model.small .content{
        padding: 25px;
    }
}