.RightSideMenu{
    background-color: #692267;
    min-height: 94vh;
}
.RightSideMenu .NotyficationsList{
    height: 35vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.RightSideMenu .NotyficationsList::-webkit-scrollbar {
    width: 15px;
  }
   
.RightSideMenu .NotyficationsList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
.RightSideMenu .NotyficationsList::-webkit-scrollbar-thumb {
    background-color: #FFE3F9;
    outline: 1px solid slategrey;
  }

.RightSideMenu .Button_Section button  {
    height: 5vh;
    width: 100%;
    border:none;
    font-weight: bold;
    color: #fff;
}

.RightSideMenu .Button_Section button:last-child  {
    margin-top: 10px;
}

.RightSideMenu .Button_Section #Management_Button{
    background-color: #B3B3B3;
}

.RightSideMenu .Button_Section #Logout_Button{
    background-color: #CB60C8;
}

