.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #5C5C5C;
}

.Container h2 {
    margin-top: 25px;
}

.Container p {
    font-weight: bold;
}

.Container .DaySpan{
    color: #692267;
}

.Container .PatientSpan{
    color: #17AA40;
}

.Container .RedWarning{
    color: #D00000;
}