@import url("react-day-picker/dist/style.css");

.rdp-root {
    z-index: 0;
    width: 100%; /* Upewnia się, że główny kontener kalendarza zajmuje 100% */
    --rdp-accent-color: #762D66; /* Change the accent color to indigo. */
    --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
  }
  
  .rdp-months {
    width: 100%; /* Ustawia szerokość dla miesięcy na 100% */
    display: flex; /* Użycie flexboxa do rozciągnięcia miesięcy */
    justify-content: space-between; /* Opcjonalne, aby rozłożyć miesiące równomiernie */
  }

  .rdp-weeks {
    background-color: #FCFCFC;
  }
  
  .rdp-month {
    width: 700px;
  }

  .rdp-month_caption {
    margin-bottom: 20px;
  }

  .rdp-month_grid {
    width: 100%;
    background-color: #FCFCFC;
  }

  .rdp-month_grid thead{
    text-align: left;
    height: 50px;
    background-color: rgba(171, 18, 18, 0.25);
  }

  .rdp-day.arrangeDays button {
    background-color: #762D66; 
    color: white; 
  }

  .rdp-day.rdp-today:not(.arrangeDays) button{
    border: 2px solid #27690f;
    color: #27690f;
    font-weight: bold;
  }

  .rdp-day.rdp-today.arrangeDays button{
    background-color: #27690f;
    color: #fff;
    font-weight: bold;
  }