.Container{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'LeftSide RightSide'
}

.Container .LeftSide{
    grid-area: LeftSide;
    background-color: #FFF5FF;
    overflow: hidden;
    height: 100%;
}

.LeftSide#Overflow_Y_scroll{
    overflow-y: auto;
}

.Container .RightSide{
    grid-area: RightSide;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}


@media only screen and (max-width:1200px){
    .Container{
        display: grid;
        height: 100%;
        grid-template-rows: 0.45fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'LeftSide LeftSide'
        'RightSide RightSide';
    } 
}