.PatientFormButtonSection{
    display: flex;
    justify-content: right;
}

.PatientFormButtonSection  button{
    background-color: #CB60C8;
    width: 150px;
}

.PatientFormButtonSection  button:disabled{
    background-color: #692267;
    border-color: #692267;
    cursor:not-allowed;
}